* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.container {
  background: grey;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar {
  width: 100%;
  height: 80px;
  background: black;
  padding: 15px;
}
.logo {
  float: left;
}
.logo h1 {
  color: red;
  font-size: 35px;
}
.searchbar {
  float: right;
  margin-top: 15px;
  margin-right: 40px;
}
.my_input {
  border: none;
  border-radius: 100px;
  height: 20px;
  width: 200px;
}
.my_button {
  border-radius: 4px;
  border: .5px solid grey;
  margin: 0 10px;
  padding: 3px;
}
.my_button h1 {
  font-size: 12px;
  font-weight: 400;
}
.my_button:hover {
  background: grey;
  transition: 1s;
}
.vetrina {
  width: 100%;
  height: auto;
  background: lightgrey;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
.film {
  height: 350px;
  width: 33%;
  margin: auto;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: relative;
  padding: 5px;
}
.film > * {
  margin: 20px 0;
}
.film h1 {
  font-size: 9px;
}
.film h2 {
  font-size: 9px;
}
.film h3 {
  font-size: 9px;
}
.film h4 {
  font-size: 9px;
}
.film h6 {
  font-size: 9px;
}
.film_val {
  display: flex;
}
.templates {
  display: none;
}
.stars {
  display: flex;
  color: rgb(208, 194, 103);
  font-size: 10px;
}
.stars h6 {
  color: black;
}
.lingua img {
  width: 25px;
  height: 15px;
}
.img_copertina {
  width: auto;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
}
.over p, .credits p, .generi p {
  font-size: 8px;
}
